<div class="justify-content-center text-center">
  <div class="card border-primary mb-3 d-flex">
    <div class="card-header"><h4>Mars Grid</h4></div>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center b p-2">
          <app-rover></app-rover>
        </div>
        <div class="d-flex">
        <!-- grid math          -->
<div class="d-flex flex-column">
          <div class="border border-primary MarsGridBlock bg-secondary" >
            Test block
          </div>          
            
          </div>
          </div>
        
        <div class="border border-primary p-2">
          <div class="d-flex justify-content-center bg-primary text-center text-white pt-1">
          <h5>Grid Toolbar</h5>
        </div>
          <div class="d-flex">
            <kendo-textbox-container floatingLabel="Grid X blocks" class="w-100">
              <kendo-numerictextbox
               [min]="0" [max]="10">
          </kendo-numerictextbox>
            </kendo-textbox-container>
          </div>
          <div class="d-flex">
            <kendo-textbox-container floatingLabel="Grid Y blocks" class="w-100">
              <kendo-numerictextbox
               [min]="0" [max]="10">
          </kendo-numerictextbox>
            </kendo-textbox-container>
          </div>
          <div class="d-flex justify-content-center pt-2">
            <button kendoButton [primary]="true">Apply to Grid</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

