
@import '../node_modules/bootswatch/dist/flatly/bootstrap.min.css';


.alertify-notifier .ajs-message.ajs-error{
    color: black;
}
::ng-deep .alertify-notifier .ajs-message.ajs-success {
    color:black !important;
    background: rgba(91, 189, 114, 0.95) !important;
}    