<div class="k-overlay" *ngIf="opened"></div>
<kendo-window
  [title]="ModalTitle"
  *ngIf="opened"
  (close)="close()"  
>
  <div>
    <kendo-card cascade="true" narrower="true">
      <form
        class="k-form"
        [formGroup]="roverForm"
        (ngSubmit)="save()"        
      >
        <div class="row">
          <div class="col-md-12">
            <div>
              <kendo-textbox-container
                floatingLabel="Rover Name *"
                class="w-100"
              >
                <input
                  kendoTextBox
                  id="nameEdit"
                  name="name"
                  formControlName="name"                  
                  class="w-100 upperclass"
                />
              </kendo-textbox-container>
              <div
                class="text-danger"
                *ngIf="
                  roverForm.controls['name'].hasError('required') &&
                  (roverForm.controls['name'].dirty ||
                    roverForm.controls['name'].touched)
                "
              >
                Rover Name required
              </div>
              <div
                class="text-danger"
                *ngIf="roverForm.controls['id'].hasError('maxlength')"
              >
                Max Length of 150 allowed
              </div>
            </div>
            <div class="d-flex">
              <kendo-textbox-container floatingLabel="Starting X" class="w-100">
                <kendo-numerictextbox
                formControlName="beginX"  [min]="0" [max]="gridMaxX"[format]="'n'">
            </kendo-numerictextbox>
              </kendo-textbox-container>
  
            </div>
            <div class="d-flex">
              <kendo-textbox-container floatingLabel="Starting Y" class="w-100">
                <kendo-numerictextbox
                formControlName="beginY"  [min]="0" [max]="gridMaxY" [format]="'n'">
            </kendo-numerictextbox>
              </kendo-textbox-container>
  
            </div>
            <div>
              <kendo-textbox-container floatingLabel="Starting Orientation *" class="w-100">
                <input
                  kendoTextBox
                  id="beginOrientationEdit"
                  name="beginOrientation"
                  formControlName="beginOrientation"
                  class="w-100"
                />
              </kendo-textbox-container>
              <div
                class="text-danger"
                *ngIf="
                  roverForm.controls['beginOrientation'].hasError('required') &&
                  (roverForm.controls['beginOrientation'].dirty ||
                    roverForm.controls['beginOrientation'].touched)
                "
              >
                Starting Direction required
              </div>    
              <div class="text-danger" *ngIf="roverForm.hasError('beginOrientationRule')">
                Beginning Orientation will have to be a Valid Direction (N,E,S,W) and in upper case.
             </div>
                        
            </div>
            <div>
              <kendo-textbox-container floatingLabel="Movement Input *" class="w-100">
                <input
                  kendoTextBox
                  id="movInputEdit"
                  name="movementInput"
                  formControlName="movementInput"
                  class="w-100 upperclass"
                />
              </kendo-textbox-container>
              <div class="text-danger" *ngIf="roverForm.hasError('movementInputRule')">
                Movement Input will have to be a Valid Input (L,R,M)
             </div>
              <div
                class="text-danger"
                *ngIf="
                  roverForm.controls['movementInput'].hasError('required') &&
                  (roverForm.controls['movementInput'].dirty ||
                    roverForm.controls['movementInput'].touched)
                "
              >
                Starting Direction required
              </div>    
                        
            </div>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button
            *ngIf="!loading"
            [disabled]="roverForm.invalid"
            look="flat"
            kendoButton
            type="submit"
            icon="save"
            [primary]="true"
          >
            Save
          </button>          
        </div>
      </form>
    </kendo-card>
  </div>
</kendo-window>
